
<div class="parent">
    <div class="login_bg ">
        <div class="container">
          <div class="row">
            <div class="col-lg-7 col-md-7 col-sm-12 text-center">
              <div class="logo mt-5">
                <img src="assets/images/logo2.svg">
              </div>
            </div>
            <div class="col-lg-5 col-md-5 col-sm-12">
              <div class="card">
                <div class="login_rht">
                  <div class="mb-4">
                    <h3 class="signin mt-0 mb-0">Sign in</h3>
                    <div class="subtext">Enter your email and password to sign in</div>
                  </div>
                    <form>
                    <div class="mb-3">
                      <input type="email" class="form-control form-border" placeholder="Email" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <div class="mb-3">
                      <input type="password" class="form-control form-border" placeholder="Password" id="exampleInputPassword1">
                    </div>
                    <div class="mb-4 form-check form-checkterms">
                      <input type="checkbox" class="form-check-input mt-2" id="exampleCheck1">
                      <label class="form-check-label" for="exampleCheck1">
                        <span>Accept <a href="#" class="TermConditions">terms &amp; conditions</a></span>
                      </label>
                    </div>
                    <button type="button" class=" btn btn-primary btn-block mb-2 mt-4 button1 text-white col-sm-12" (click)="login()">Login</button>
                    <div class="forgot1 mb-4 mt-2 text-end">
                      <a href="#!">Forgot password?</a>
                    </div>
                  </form>
                  <div class="text-center">
                    <p class="footer1">Copyright © 2023 calmscient. All rights reserved.</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
</div>